html {
    background-color: pink;
}

header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F567CC;
    opacity: 0.8;
    margin-bottom: 50px;
}

button {
    padding: 0px 0px;
    margin: 10px;
}
.weaponChoice {
    display: flex;
    justify-content: center;
}

img {
    height: 50px;
    width: 50px;
}