html {
    background-color: pink;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F567CC;
    opacity: 0.8;
}

mark.purple {
    color: #B474E0;
    background: none;
}

mark.blue {
    color: #749EE0;
    background: none;
}

mark.green {
    color: #51B456;
    background: none;
}

.howTo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #E6F3F0;
    opacity: 0.8;
}

.rules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #E6F3F0;
    opacity: 0.8;
    margin-top: 40px;
    margin-bottom: 50px;
}

.buttons {
    padding: 0px 0px;
    margin: 30px;
    border: none;
    background: transparent;
}
.weaponChoice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #E6F3F0;
    opacity: 0.8;
    margin-left: 100px;
    margin-right: 100px
}

img {
    height: 90px;
    width: 90px;
}

#roundResult {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #F567CC;
    opacity: 0.8;
}

#tryAgain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #F567CC;
    opacity: 0.8;
}
